*{
    margin:0;
    box-sizing: border-box;
    padding:0;
}
html, body{
    width:100%;
    background-color: #fff;
    color:#2b2b2b;
}

.wrapper{
    display:flex;
}

/* ASIDE STYLES */
aside{
    width:80px;
    height:100vh;
    background: #282828;
    display: inline-block;
}

aside.open{
    width:300px;
}
.crosses{
    padding-left: 15px;
    cursor: pointer;
}
.crosses span{
    display: inline-block;
    width:40px;
    height:2px;;
    background-color: #fff;
}

#crossX.openX{
    transform: rotate(45deg);
    position: relative;
    top: 14px;
}
#crossY.openY{
    transform: rotate(-45deg);
    position: relative;
    top: -10px;
}

/* MAIN CONTENT */
.main-content{
    width:100%;
}


/* HEADER STYLES */
header{
    border-bottom: 1px solid #282828;
    margin-bottom:15px;
}
.display{
    width:100%;
    text-align: center;
    padding:15px 0px;
}


/* Pie Chart */

#myChart{
    margin: auto;
    width:200px !important;
    height: 200px !important;
}
input{
    padding:2px;
    border-radius: 3px;
}

.incomeInputs input{
    border:2px solid rgb(69, 145, 49);
}

.expenseInputs input{
    border:2px solid rgb(215, 22, 22);
}

[for="inputName"],[for="expenseName"]{
    font-size:1.3rem;
}

[type="number"]{
    margin-top: 5px;
}

#inputBlock{
    display:flex;
    justify-content: space-around;
}

.button{
    margin-top:15px;
    cursor: pointer;
    text-align: center;
}

.button a{
    padding:8px;
    background-color: #ECD018;
    border-radius: 3px;
}



/* MAIN DIV STYLES  */

.far {
    cursor: pointer;
}

#incomeColumn {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width:800px){
    #incomeColumn{
        flex-flow:row nowrap;
        justify-content: space-around;
    }
}

div#incomeBlock, div#expenseBlock{
    text-align: center;
}
input:focus{
    outline-color:rgba(255,255,255,1);
}

ul{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-top:10%;
    list-style-type: none;
}

li.inputFormat {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid white;
    margin-top: 17px;
    border-bottom: 1px solid #282828;
}

span.templateName {
    font-weight: 600;
}


































